// Variables

// Main color
$primary-color: #fff ;

$primary-contrast: #000;

// Anchor color
$secondary-color: #00cdff;

// Font color
$font-color: #000;

$font-contrast: #fff;

$navbar-text-shadow: true;
$header-text-shadow: true;
$header-background-color: transparent;
$intro-text-color: $font-color;
$navbar-color: $font-contrast;
$navbar-lg-collapse-background-color: $primary-contrast;
$navbar-lg-background: transparent;
$navbar-sm-background-color: $navbar-lg-collapse-background-color;

$social-buttons-color: $secondary-color;
